@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import './base.css';
@import 'tailwindcss';

body {
  background: oklch(20.5% 0 0);
  font-family: 'Cal Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
